.imagem-principal {
  border-radius: 7px;
  height: 160px;
  width: 200px;
  position: relative
}

header {
  background-color: rgb(255, 255, 255);
  border-radius:22px;
  height: 270px;

  


}
body {
  background-color: black;
}
nav {
  position:absolute;
  top: 200px;
  right: 240px;
}
nav li {
  display: inline;
  margin: 0 0 0 22px;

}

nav a {
   text-transform: uppercase;
   color: rgb(0, 0, 0);
   font-weight: bold;
   font-size: 20px;
   text-decoration: none;
}

nav a:hover {
  color:rgb(0, 255, 76) ;
  }

#bordar-inicial {
  text-align: center;
  font-size: 100px;
  position: absolute;
  top: 50px;
  right: 600px;
  font-weight: bold;
  box-shadow: 10px 10px 40px black;
  background-color: rgb(228, 228, 228);
  font-family: 'Comforter Brush', cursive;

}

#Boxform {
  height: 500px;
  width: 500px;
  background-color: white;
  top: 400px;
  right: 500px;
  position: absolute;
  border-radius: 22px;
}

.inputlabel {
  height: 10px;
  width: 100px;
  text-align: left;
  padding: 10px 25px;
}

#date {  border: none;
  padding: 8px;
  border-radius: 10px;
 outline: none;

 

 font-size: 12px;}

.inputUser {
  background: none;
  border: black;
  border-bottom: 1px solid white;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  width: 70%;
  letter-spacing: 2px;
  display: block;
  padding: 6px 20px;
}

.submit {
  background-image: linear-gradient(to right,   rgb(0, 0, 0),  rgb(255, 255, 255));
  width: 50%;
  border: none;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top: 390px;
  right:120px;
  border-bottom-right-radius: 1000px;
  font-weight: bold;
  transition: 2s all;
}

.submit:hover {
  transform: rotate(5deg) scale(1.2);
}

table {
  margin: 250px 160px 250px;
  border-radius: 7px;
  color: aliceblue;
}

thead {
  background-color: rgb(0, 0, 0);
  border-radius: 7px;
  color: aliceblue;
  font-weight: bold;
}

td, th {
  padding: 8px 15px  ;
}

